.category-container {
    min-width: 30%;
    height: 300px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid paleturquoise;
    background-color: lightcyan;
    margin: 0 20px 30px;
    overflow: hidden;
    border-radius: 30px;

    // h6{
    //     font-weight: bold;
    //     margin: 0 6px 0;
    //     font-size: 10px;
    //     color: #4a4a4a;
    // }
  
    &:hover {
      cursor: pointer;
  
      & img {
        transform: scale(1.1);
        transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      }
  
      & .category-body-container {
        opacity: 0.7;
      }
    }
  
    &.large {
      height: 380px;
    }
  
    &:first-child {
      margin-right: 7.5px;
    }
  
    &:last-child {
      margin-left: 7.5px;
    }
  
    img {
        height: 150px;
        width: 80%;
        object-fit: cover;

    }
  
    .category-body-container {
      height: 50px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 1px solid paleturquoise;
      background-color: white;
      opacity: 0.5;
      border-radius: 60px;
      position: absolute;
  
      h2 {
        font-weight: bold;
        margin: 0 6px 0;
        font-size: 10px;
        color: #4a4a4a;
      }
  
      p {
        font-weight: lighter;
        font-size: 16px;
      }
    }
  }