.container {
    height:350px;
    background-color: lavenderblush;
    max-width: 350px;
    margin: 20px;
    align-items:center;
    justify-content: center;
    overflow: hidden;
    border: 1px solid rgb(252, 219, 224);
    border-radius: 30px;

    &:hover {
      cursor: pointer;
  
      & img {
        transform: scale(1.1);
        transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      }
  
      & .category-body-container {
        opacity: 0.7;
      }
    }
  
    &.large {
      height: 380px;
    }
  
    &:first-child {
      margin-right: 7.5px;
    }
  
    &:last-child {
      margin-left: 7.5px;
    }
  
    img {
        height: 200px;
        width: 100%;
        object-fit: cover;

    }
  
    .category-container{
        background-color: lavenderblush;
        height: 75px;
        padding-left: 35px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
        h2 {
            // text-align: center;
            
            font-size: 15px;
            font-weight: lighter;
            padding-bottom: 10px;
            align-items:center;
            justify-content: center;
            display: flex;
            padding-top: 10px;
            font-family: 'Rubik', sans-serif;
            opacity: 0.7;
          }
          h3 {
              background-color: whitesmoke;
            font-size: 15px;
            font-weight: lighter;
            padding-bottom: 10px;
            align-items:center;
            justify-content: center;
            display: flex;
            padding-top: 10px;
            font-family: 'Rubik', sans-serif;
            opacity: 0.4;
            border-width: 10px;
            border-radius: 20px;
          }
       
    }
    .category-body-container {
      height: 65px;
      max-width: 250px;
      padding-left: 35px;
      display: flex;
    //   flex: 1 1 auto;
      flex-direction: row;
    //   align-items: center;
    //   justify-content: center;
    //   border: 1px solid paleturquoise;
    //   background-color: white;
      opacity: 0.9;
    //   border-radius: 60px;
      position: absolute;
  
      
  
      p {
          padding-left: 20px;
          font-weight: normal;
          font-size: 16px;
      }
    }
  }