.categories-container {
  padding-top: 100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 211, 217)
  }
  
  